 {% extends 'base.html' %}
       {% load static %}


    {% block pageheadings %}
<div class="padding12LR">
    <h1>Advertisers </h1>
<p>{{i.advertiser_text|slice:":20"}}<br>{{i.advertiser_text|slice:"20:"}}</p>
<a href="" class="link">Get An Account</a>
</div>
          {% endblock %}



      {% block content %}


     <div class="d-flex justify-content-center text-center" style="background:url('{% static 'images/bubble-section-bg.png' %}');">
<div class="container">
<div class="d-flex justify-content-center width full p-8">

    <p>{{i.topinfoPara|slice:":20"}}<br>{{i.topinfoPara|slice:"20:"}}</p>
<br><br><br>
<div class="container">
<h2>{{i.secondParagraph_heading}}t</span></h2>
<p>{{i.secondParagraph|slice:":20"}<br>{{i.secondParagraph|slice:"20:"}}}</p>
<br><br><br>
    <br>
    <div><br><br><br><br><br><br><br><br>

<div class="text-center curve426" style="background:url('{% static 'images/tab-box.png' %}');">
<div class="postion1"><a href="#">{{i.tab_text1}} <img src="{{i.tab_image1.url}}" /></a></div>
<div class="postion1 postion2"><a href="#">{{i.tab_text2}}<img src="{{i.tab_image2.url}}" /></a></div>
<div class="postion1 postion3"><a href="#">{{i.tab_text3}} <img src="{{i.tab_image3.url}}" /></a></div>
<div class="postion1 postion4"><a href="#"><img src="{{i.tab_image4.url}}" /> {{i.tab_text4}}</a></div>
<div class="postion1 postion5"><a href="#"><img src="{{i.tab_image5.url}}" /> {{i.tab_text5}}</a></div>
<div class="postion1 postion6"><a href="#"><img src="{{i.tab_image6.url}}" /> {{i.tab_text6}}</a></div>
</div>


    </div>
<div class="container">
    <br><br><br><br><br><br><br><br>
<h2>{{i.thirdParagraph_heading}}</h2>
<p>{{i.thirdParagraph|slice:":20"}}<br>{{i.thirdParagraph|slice:"20:"}}</p>
<br><br><br>
    <br>
    <div>

<div class="topSpace56">
<div class="row">
<div class="col-md-9 col-sm-8">
<h2>Lorem ipsum dolor <span>adipiscing elit</span> sed do eiusmod tempor</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
</div>
<div class="col-md-3 col-sm-4 rightbtnww">
<a href="" class="link">Register Now</a>
</div>
</div>
</div>

</div>
</div>
</div>
</div>


</div>



          {% endblock %}
