{% extends 'base.html' %}
       {% load static %}

      {% block pageheading %}

<div class="padding12LR">
<h1>Advertisers</h1>
<p>{{i.advertiser_text|slice:":20"}}<br>{{i.advertiser_text|slice:"20:"}}</p>
<a href="" class="link">Get An Account</a>
</div>
{% endblock %}

{% block content %}


<div class="businessModel">
<div class="container">
<div class="sEPcontainer noBorder">
<div class="pWidthfix">
<p>{{i.topinfoPara|slice:":20"}}<br>{{i.topinfoPara|slice:"20:"}}</p>
</div>
<div class="fourColumn">
<h2>{{i.secondParagraph_heading}}</h2>
<p>{{i.secondParagraph|slice:":20"}}<br>{{i.secondParagraph|slice:"20:"}}</p>
  <div class="row topspace">
<div class="col-md-3 col-sm-6">
<div class="boxOne31" style="background:url('{{i.topspace1_image.url}}');">
<h3>{{i.topspace1_heading}}</h3>
<p>{{i.topspace1_text}}</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="boxOne31" style="background:url('{{i.topspace2_image.url}}');">
<h3>{{i.topspace2_heading}}</h3>
<p>{{i.topspace2_text}}</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="boxOne31" style="background:url('{{i.topspace3_image.url}}');">
<h3>{{i.topspace3_heading}}</h3>
<p>{{i.topspace3_text}}</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="boxOne31" style="background:url('{{i.topspace4_image.url}}');">
<h3>{{i.topspace4_heading}}</h3>
<p>{{i.topspace4_text}}</p>
</div>
</div>
</div>

</div>


</div>



<div class="iTsupport h2Font tab-sec">
<div class="container">
<h2>Who <span>We Are</span></h2>
<p>{{i.who_we_are_description|slice:":20"}}<br>{{i.who_we_are_description|slice:"20:"}}</p>
  <div class="curveDesign">
<div class="row ">
  <div class="col-md-12 col-sm-12 verticallyMainChild">
<div class="curve426 curve426advertise">
<div class="tabs">
  <ul id="tabs-nav">
 <li><div class="postion1 tab-img1"><a href="#tab1">{{i.tab_text1}} <img src="{{i.tab_image1.url}}" /></a></div></li>
 <li><div class="postion1 postion2"><a href="#tab2">{{i.tab_text2}} <img src="{{i.tab_image2.url}}" /></a></div></li>
 <li><div class="postion1 postion3"><a href="#tab3">{{i.tab_text3}} <img src="{{i.tab_image3.url}}" /></a></div></li>
 <li><div class="postion1 postion4"><a href="#tab4"><img src="{{i.tab_image4.url}}" /> {{i.tab_text4}}</a></div></li>
 <li><div class="postion1 postion5"><a href="#tab5"><img src="{{i.tab_image5.url}}" /> {{i.tab_text5}}</a></div></li>
 <li><div class="postion1 postion6"><a href="#tab6"><img src="{{i.tab_image6.url}}" /> {{i.tab_text6}}</a></div> </li>

</div>
<div id="tabs-content">
  <div id="tab1" class="tab-content">
  <div class="basicInfo">{{i.tab_content1}}</div>
  </div>
  <div id="tab2" class="tab-content">
  <div class="basicInfo">{{i.tab_content2}} </div>
    </div>
  <div id="tab3" class="tab-content">
  <div class="basicInfo">{{i.tab_content3}}</div>
    </div>
  <div id="tab4" class="tab-content">
  <div class="basicInfo">{{i.tab_content4}}</div>
    </div>
  <div id="tab5" class="tab-content">
  <div class="basicInfo">{{i.tab_content5}}</div>
    </div>
  <div id="tab6" class="tab-content">
  <div class="basicInfo">{{i.tab_content6}} </div>
  </div>
 <!-- END tabs-content -->
</div> <!-- END tabs -->
</div>


<!-- <div class="col-md-5 col-sm-12 verticallyMainChild">
<div id="tabs-content">
<div id="tab1" class="tab-content">
<div class="basicInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</div>
</div>
<div id="tab2" class="tab-content">
<div class="basicInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</div>
</div>
<div id="tab3" class="tab-content">
<div class="basicInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</div>
</div>
<div id="tab4" class="tab-content">
<div class="basicInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</div>
</div>
<div id="tab5" class="tab-content">
<div class="basicInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</div>
</div>
<div id="tab6" class="tab-content">
<div class="basicInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</div>
</div>
</div>

</div> -->

 </div>
</div>
</div>
</div>


<!-- consectetur sec -->
<section class="consectetur-sec h2Font">
  <div class="container">
    <h2>{{i.consectetur}}</h2>
    <p>{{i.consectetur_paragraph}}</p>
    <div class="row consectetur-row">
      <div class="col-sm-4 consectetur-col">
        <img src="{{i.row_image1.url}}" alt="">
        <h4>{{i.row_heading1}}</h4>
          <p>{{i.row_paragraph1}}</p>
      </div>
      <div class="col-sm-4 consectetur-col">
        <img src="{{i.row_image2.url}}" alt="">
        <h4>{{i.row_heading2}}</h4>
          <p>{{i.row_paragraph2}}</p>
      </div>
      <div class="col-sm-4 consectetur-col">
        <img src="{{i.row_image3.url}}" alt="">
        <h4>{{i.row_heading3}}</h4>
          <p>{{i.row_paragraph3}}</p>
      </div>
    </div>
  </div>
</section>

  </div>
<!-- consectetur sec ends-->
<section class="client-sec">
  <div class="container">
    <div class="sec-head">
      <h6>Client Story</h6>
      <h2>Hear from trusted clients</h2>
    </div>

    <div id="client-wrapper" >
      <div class="row client-wrapper">
        <div class="col-sm-6 col-wrapper">
          <div class="client-col">
          <p>“{{i.client_story1}}” </p>
          <div class="author-row">
            <img src="{{client_image1}}" alt="author-img">
            <div class="author-info">
              <h5> {{i.client_name1}}</h5>
              <p>{{i.client_description1}}</span></p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-6 col-wrapper">
          <div class="client-col">
          <p>“{{i.client_story2}}” </p>
          <div class="author-row">
            <img src="{{i.client_image1.url}}" alt="author-img">
            <div class="author-info">
              <h5>{{i.client_name2}}</h5>
              <p>{{i.client_description2}}</span></p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-6 col-wrapper">
          <div class="client-col">
          <p>“{{i.client_story3}}“</p>   <div class="author-row">
            <img src="{{i.client_image3.url}}" alt="author-img">
            <div class="author-info">
              <h5> {{i.client_name3}}</h5>
              <p>{{i.client_description3}}</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



</div>
</div>

<div class="businessModel2 mt0">
<div class="container">

<div class="topSpace56 mt0">
<div class="row">
<div class="col-md-9 col-sm-8">
<h2>{{i.register_now_heading}}</h2>
<p>{{i.register_now_description}}</p>
</div>
<div class="col-md-3 col-sm-4 rightbtnww">
<a href="" class="link">Register Now</a>
</div>
</div>
</div>

</div>
</div>

{% endblock %}

