{% extends 'base.html' %}
       {% load static %}

      {% block pageheading %}

<div class="padding12LR">
<h1>Get In Touch</h1>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.</p>
<a href="" class="link">Get An Account</a>
</div>

{% endblock %}



{% block content %}

<div class="contactPage">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="fixSizeBox">
<span></span>
<h4>Email Address</h4>
<p>info@accentbearings.com <br>
sales@accentbearings.com</p>
<a href="mailto:info@accentbearings.com" class="link">Email Us </a>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="fixSizeBox fixSizeBox2">
<span></span>
<h4>Phone Number</h4>
<p>Toll Free: 888.916.1930 <br>
Phone: 630.916.1930</p>
<a href="tel:+18889161930" class="link">Call Us   </a>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="fixSizeBox fixSizeBox3">
<span></span>
<h4>Office Address</h4>
<p>367-G S. Rohlwing Rd. <br>
Addison, IL 60101</p>
<a href="https://goo.gl/maps/kMDZdRLWaAPo11137" target="_blank" class="link">Direction </a>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="fixSizeBox fixSizeBox4">
<span></span>
<h4>Social Connect</h4>
<ul class="logoSocialF logoSocialFContact">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
</ul>
</div>
</div>

</div>



<div class="formAreaContact">
<h2>We can take your business <br>
to the next level.</h2>

<div class="formInnerContact">
<div class="row">
<div class="col-md-6 col-sm-6"><div class="iconText"><input type="text" placeholder="Your name" /></div></div>
<div class="col-md-6 col-sm-6"><div class="iconText iconText2"><input type="email" placeholder="Email address" /></div></div>
<div class="col-md-12 col-sm-12"><div class="iconText iconText3 iconTextHeightAuto"><textarea placeholder="Enter message"></textarea></div></div>
<div class="col-md-12 col-sm-12 text-center"><input type="submit" value="Submit Request" /></div>
</div>
</div>

</div>


</div>
</div>

<div class="businessModel2 mt0">
<div class="container">

<div class="topSpace56 mt0">
<div class="row">
<div class="col-md-9 col-sm-8">
<h2>Lorem ipsum dolor <span>adipiscing elit</span> sed do eiusmod tempor</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
</div>
<div class="col-md-3 col-sm-4 rightbtnww">
<a href="" class="link">Register Now</a>
</div>
</div>
</div>

</div>
</div>
{% endblock %}