{% extends 'base.html' %}
       {% load static %}

      {% block pageheading %}

<div class="padding12LR">
<h1>{{i.contact_text}}</h1>
<p>{{i.contact_paragraph}}</p>
<a href="{{i.contact_button_url}}" class="link">{{i.contact_button_text}}</a>
</div>

{% endblock %}



{% block content %}

<div class="contactPage">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="fixSizeBox">
<span></span>
<h4>Email Address</h4>
<p>info@accentbearings.com <br>
sales@accentbearings.com</p>
<a href="mailto:info@accentbearings.com" class="link">Email Us </a>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="fixSizeBox fixSizeBox2">
<span></span>
<h4>{{i.phone_heading}}</h4>
<p>Toll Free: 888.916.1930 <br>
Phone: {{i.phone}}</p>
<a href="tel:+{{phone}}" class="link">Call Us   </a>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="fixSizeBox fixSizeBox3">
<span></span>
<h4>{{i.address_heading}}</h4>
<p>{{i.address}}</p>
<a href="{{i.map_link}}" target="_blank" class="link">{{i.map_link_name}}</a>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="fixSizeBox fixSizeBox4">
<span></span>
<h4>{{i.social_heading}}</h4>
<ul class="logoSocialF logoSocialFContact">
<li><a href="{{i.facebook_link}}"><i class="fa fa-facebook"></i></a></li>
<li><a href="{{i.twitter_link}}"><i class="fa fa-twitter"></i></a></li>
<li><a href="{{i.instagram_link}}"><i class="fa fa-instagram"></i></a></li>
<li><a href="{{i.youtube_link}}"><i class="fa fa-youtube-play"></i></a></li>
</ul>
</div>
</div>

</div>



<div class="formAreaContact">
<h2>{{i.business_heading}}
</h2>

<div class="formInnerContact">
<div class="row">
<div class="col-md-6 col-sm-6"><div class="iconText"><input type="text" placeholder="Your name" /></div></div>
<div class="col-md-6 col-sm-6"><div class="iconText iconText2"><input type="email" placeholder="Email address" /></div></div>
<div class="col-md-12 col-sm-12"><div class="iconText iconText3 iconTextHeightAuto"><textarea placeholder="Enter message"></textarea></div></div>
<div class="col-md-12 col-sm-12 text-center"><input type="submit" value="Submit Request" /></div>
</div>
</div>

</div>


</div>
</div>

<div class="businessModel2 mt0">
<div class="container">

<div class="topSpace56 mt0">
<div class="row">
<div class="col-md-9 col-sm-8">
<h2>{{i.register_heading}}</h2>
<p>{{i.register_paragraph}}</p>
</div>
<div class="col-md-3 col-sm-4 rightbtnww">
<a href="{{i.register_button_url}}" class="link">{{i.register_button_text}}</a>
</div>
</div>
</div>

</div>
</div>
{% endblock %}
