 {% extends 'base.html' %}
       {% load static %}

      {% block pageheading %}



 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active">1</li>
    <li data-target="#myCarousel" data-slide-to="1">2</li>
  </ol>-->

  <!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-6"><div class="padding12LR">
<h3>{{ home_page.slider1_heading }} <span>{{ home_page.slider1_heading_colored }}</span></h3>
<p>{{ home_page.slider1_text|linebreaks|default_if_none:''}}</p>
<a href="{{ home_page.slider1_button_url}}" class="link">{{ home_page.slider1_button_text }}</a>
</div></div>
<div class="col-md-6 col-sm-6 centerSliderImage">
<img src="{{home_page.slider1_image.url}}" />
</div>
</div>
</div>
</div>

</div>

</div>

          {% endblock %}



{% block content %}
<style>
body{margin: 0;}
.container{max-width: 1230px;padding: 0px 15px;margin: 0 auto;}
.row{display: flex;flex-wrap: wrap;margin: 0px -15px;}
.col-6{width: 48%;padding: 0 1%;}
.col-8{width: 63%;padding: 0 1%;}
.col-4{width: 33%;padding: 0 1%;}
.scroll-sec img{width: 100%;}
.scroll-sec .box-col{position: sticky;top: 50%;z-index: 10;display: flex;-webkit-box-align: center; align-items: center;-webkit-box-pack: end;justify-content: flex-end;width: 100%;transform: translateY(-50%);height: 500px;
margin-bottom: -120px;}
.scroll-sec{position:relative;padding: 100px 0px;}
.scroll-sec .right-col {padding-top: 150px;}
.scroll-sec h2{font-size: 30px;margin-bottom: 18px;}
.scroll-sec .text-col p{font-size: 17px;margin-bottom: 23px;}
.link{color: #fff;text-align: center;transition: all .3s ease-in-out;font-size: 17px;border: 2px solid #0d78b8;background: #0d78b8;letter-spacing: .4px;padding:15px 49px;position: relative;font-weight: 400;border-radius: 5px;text-decoration: none;display: inline-block;}
.stack {position: relative;height: 300px;}
.scroll-sec .text-col {padding-top: 100px;}
.stack-label-text{border-top: 1px solid #d6d6d6;margin-top: -14px;display: block;}

.stack-layer-fintech {display: flex;align-items: center;transition: opacity 0.4s ease 0.2s, transform 0.6s ease 0.1s;}
.stack-label {width: 30%;}
.stack-layer-disk {width: 70%;}
.stack-layer-fintech.box1 {transform: translate3d(0px, -23%, 0px);z-index: 1;position: relative;}
.stack-layer-fintech.box2 {margin-top: -116px;position: relative;z-index: -1;}
.stack-layer-fintech.box3 {margin-top: -134px;position: relative;z-index: -2;}
.stack-layer-fintech.box4 { margin-top: -134px; position: relative;z-index: -3;}
.stack-layer-fintech.box5 {margin-top: -134px;position: relative;z-index: -4;}
.stack-layer-fintech.box6 {margin-top: -116px;position: relative;z-index: -5;transform: translate3d(0px, 0px, 0px);transition: opacity 0.4s ease 0.2s, transform 0.6s ease 0.1s;}
.column-box {display: flex;align-items: center;opacity: 0;position: absolute;top: 50%;transform: translateY(-30%);transition: opacity 0.4s ease 0.2s, transform 0.6s ease 0.1s;}
.box-wrapper .group{transition: opacity 0.4s ease 0.2s, transform 0.6s ease 0.1s;transform: translate3d(0px, -6%, 0px);z-index: -5;}
.box-wrapper.column .column-box {opacity: 1;right: 35px;z-index: -1;transform: translateY(-50%);top: 46%;}
.box-wrapper.column .stack-layer-fintech.box2 {margin-top: -99px;}
.box-wrapper.column .group{opacity: 0;transform: translate3d(0px, 0px, 0px);}
.box-wrapper.column .stack-layer-fintech.box6{transform: translate3d(0px, -102px, 0px);margin-top: -147px;}
.box-wrapper.column .stack-layer-fintech.box1 {transform: translate3d(0px, -2%, 0px);

/* Responsive */
@media  ( max-width:991px ){
.col-8,.col-4,.col-6{width: 100%;padding: 0 2%;}
.scroll-sec .text-col{text-align: center;margin-bottom: 30px;}
.scroll-sec .box-col{justify-content: center;}
.stack-label {width: 45%;}
.stack-layer-disk {width: 55%;}
.stack-layer-fintech.box2,.stack-layer-fintech.box3,.stack-layer-fintech.box4,.stack-layer-fintech.box5,
.stack-layer-fintech.box6{margin-top: -53px;}
.stack-layer-fintech.box6,.stack-layer-fintech.box1{transform: translate3d(0px, 0px, 0px);}
.scroll-sec .box-col{position: unset;height: auto;}
 .box-wrapper.column .group{opacity: 1;}
.box-wrapper.column .stack-layer-fintech.box6{transform: translate3d(0px, 0px, 0px);margin-top: -53px;}
.box-wrapper.column .column-box{opacity: 0;}
.stack {height: auto;}
.scroll-sec .right-col {padding-top: 260px;}
.box-wrapper.column .stack-layer-fintech.box2 {margin-top: -53px;}
}
@media (max-width:599px){
    .stack-label-text{margin-top: 0px;font-size: 14px;}
}
@media  ( max-width:420px ){
.scroll-sec .right-col { padding-top: 190px;}
}
@media  ( max-width:375px ){
    .stack-label-text{margin-top: 5px;font-size: 13px;}}

</style>
 <section class="scroll-sec">
        <div class="containers">
            <div class="row">
                <div class="col-4">
                    <div class="text-col">
                    <h2>Consectetur adipiscing elit,<br>
                        sed do eiusmod</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam. Sed ut perspiciatis unde omnis.</p>
                    <a href="" class="link">Register Now</a>

                </div>
                </div>
                <div class="col-8">
                    <div class="right-col">
                    <div class="box-col">
                        <div id="box-wrapper" class="box-wrapper ">
                            <div class="stack">
                                <div class="stack-layer-fintech box1">
                                    <div class="stack-label">
                                        <p class="stack-label-text">Company</p>
                                    </div>
                                    <div class="stack-layer-disk">
                                        <img src="{% static 'images/6a.png' %}" alt="">

                                    </div>
                                </div>
                                <div class="group">
                                    <div class="stack-layer-fintech box2">
                                        <div class="stack-label">
                                            <p class="stack-label-text">Core System</p>
                                        </div>
                                        <div class="stack-layer-disk">
                                            <img src="{% static 'images/5a.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="stack-layer-fintech box3">
                                        <div class="stack-label">
                                            <p class="stack-label-text">Dummy Content</p>
                                        </div>
                                        <div class="stack-layer-disk">
                                            <img src="{% static 'images/4a.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="stack-layer-fintech box4">
                                        <div class="stack-label">
                                            <p class="stack-label-text">Company</p>
                                        </div>
                                        <div class="stack-layer-disk">
                                            <img src="{% static 'images/3a.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="stack-layer-fintech box5">
                                        <div class="stack-label">
                                            <p class="stack-label-text">Dummy</p>
                                        </div>
                                        <div class="stack-layer-disk">
                                            <img src="{% static 'images/2a.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="column-box">
                                    <div class="stack-label">
                                        <p class="stack-label-text">Column</p>
                                    </div>
                                    <div class="stack-layer-disk">
                                        <img src="{% static 'images/4a.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="stack-layer-fintech box6">
                                    <div class="stack-label">
                                        <p class="stack-label-text">Company</p>
                                    </div>
                                    <div class="stack-layer-disk">
                                        <img src="{% static 'images/1a.png' %}" alt="">
                                    </div>
                                </div>
                               </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>








<div class="clients-help h2Font">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12">
<h2>{{home_page.who_we_6_heading}}</h2>
<div class="pFont"><p>{{home_page.who_we_6_text}}</p></div>
<div class="skyBlueBG">
<div id="ourClients" class="owl-carousel owl-theme">
<div class="item">
<img src="{{ home_page.small_slider_1_person_img.url}}" />
<p>“{{ home_page.small_slider_1_text }}”</p>
<div class="namePosition">
<h6>{{ home_page.small_slider_1_person }} <span>{{ home_page.small_slider_1_designation }}</span></h6>
</div>
</div>
<div class="item">
<img src="{{ home_page.small_slider_2_person_img.url}}" />
<p>“{{ home_page.small_slider_2_text }}”</p>
<div class="namePosition">
<h6>{{ home_page.small_slider_2_person }} <span>{{ home_page.small_slider_2_designation }}</span></h6>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="swiftrevenue swiftrevenueRIght">
<div class="container">
<h2>{{home_page.who_we_5_heading}}</h2>

<div id="myCarouselBullet" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarouselBullet" data-slide-to="0" class="active"></li>
    <li data-target="#myCarouselBullet" data-slide-to="1"></li>
	<li data-target="#myCarouselBullet" data-slide-to="2"></li>
	<li data-target="#myCarouselBullet" data-slide-to="3"></li>
	<li data-target="#myCarouselBullet" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
	  <div class="col-md-6 col-sm-6">
	  <div class="topAreaInfoSlider">
	  <h3>{{ home_page.info_slider_1_heading }}</h3>
	  <p>{{ home_page.info_slider_1_text }}</p>
	  <a href="{{ home_page.info_slider_1_link }}" class="linkAr"><span>{{home_page.info_slider_1_link_name }}</span></a>
	  </div>
	  </div>
	  <div class="col-md-6 col-sm-6"><img src="{{ home_page.info_slider_1_img.url}}" /></div>
	  </div>
    </div>

	    <div class="item">
      <div class="row">
	  <div class="col-md-6 col-sm-6">
	  <div class="topAreaInfoSlider">
	  <h3>{{ home_page.info_slider_2_heading }}</h3>
	  <p>{{ home_page.info_slider_2_text }}</p>
		  <a href="{{ home_page.info_slider_2_link }}" class="linkAr"><span>{{home_page.info_slider_2_link_name }}</span></a>
	  </div>
	  </div>
	  <div class="col-md-6 col-sm-6"><img src="{{ home_page.info_slider_2_img.url}}" /></div>
	  </div>
    </div>

	<div class="item">
      <div class="row">
	  <div class="col-md-6 col-sm-6">
	  <div class="topAreaInfoSlider">
  <h3>{{ home_page.info_slider_3_heading }}</h3>
	  <p>{{ home_page.info_slider_3_text }}</p>
	 <a href="{{ home_page.info_slider_3_link }}" class="linkAr"><span>{{home_page.info_slider_3_link_name }}</span></a>
	  </div>
	  </div>
	  <div class="col-md-6 col-sm-6"><img src="{{ home_page.info_slider_3_img.url}}" /></div>
	  </div>
    </div>

	<div class="item">
      <div class="row">
	  <div class="col-md-6 col-sm-6">
	  <div class="topAreaInfoSlider">
	  <h3>{{ home_page.info_slider_4_heading }}</h3>
	  <p>{{ home_page.info_slider_4_text }}</p>
	 <a href="{{ home_page.info_slider_4_link }}" class="linkAr"><span>{{home_page.info_slider_4_link_name }}</span></a>
	  </div>
	  </div>
	  <div class="col-md-6 col-sm-6"><img src="{{ home_page.info_slider_4_img.url}}" /></div>
	  </div>
    </div>

	<div class="item">
      <div class="row">
	  <div class="col-md-6 col-sm-6">
	  <div class="topAreaInfoSlider">
	   <h3>{{ home_page.info_slider_5_heading }}</h3>
	  <p>{{ home_page.info_slider_5_text }}</p>
	  <a href="{{ home_page.info_slider_5_link }}" class="linkAr"><span>{{home_page.info_slider_5_link_name }}</span></a>
	  </div>
	  </div>
	  <div class="col-md-6 col-sm-6"><img src="{{ home_page.info_slider_5_img.url}}" /></div>
	  </div>
    </div>



  </div>


</div>



</div>
</div>

<div class="swiftrevenue">
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-8">
<h2>Swift-Revenue <span>Affiliates</span> and <br>
Advertisers</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="col-md-4 col-sm-4 rightbtnww">
<a href="" class="link">Register Now</a>
</div>
</div>
<div class="mtopBoxes">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="infoBox">
<span class="iconsBox" style="background:url('{% static 'images/ad-img-1.png' %}');"></span>
<h6>Coluptatem doloremque</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="infoBox">
<span class="iconsBox" style="background:url('{% static 'images/ad-img-2.png' %}');"></span>
<h6>Eiusmod tempor </h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="infoBox">
<span class="iconsBox" style="background:url('{% static 'images/ad-img-3.png' %}');"></span>
<h6>Magna aliqua</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="infoBox">
<span class="iconsBox" style="background:url('{% static 'images/ad-img-4.png' %}');"></span>
<h6>Perspiciatis unde</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
</div>
</div>
</div>
</div>
</div>
</div>
<script>

    $(document).ready(function() {
   $(window).scroll(function(e) {
    if ($(this).scrollTop() > 430) {
      $('.box-wrapper').addClass("column");
    } else {
      $('.box-wrapper').removeClass("column");
    }
  });

  });


</script>
{% endblock %}






