{% extends 'base.html' %}
       {% load static %}





      {% block pageheading %}

    <div class="padding12LR">
<h1>Publishers</h1>
<p>{{p.publisher_text}}</p>
<a href="" class="link">Get An Account</a>
</div>

{% endblock %}



{% block content %}
<div class="businessModel">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12 pdright34">
<div class="topinfoHeading"><h3>{{p.topinfoHeading_l_main}}</h3><p>{{p.topinfoHeading_l_sub}}</p></div>
<div class="shadowBoxInner">
<h4>{{p.topinfoHeading_l_topic}}</h4>
<ul>
<li style="background:url('{{p.l1_image.url}}')">{{p.topinfoHeading_l1}}</li>
<li style="background:url('{{p.l2_image.url}}')">{{p.topinfoHeading_l2}}</li>
<li style="background:url('{{p.l3_image.url}}')">{{p.topinfoHeading_l3}}</li>
<li style="background:url('{{p.l4_image.url}}')">{{p.topinfoHeading_l4}}</li>
</ul>
</div>
</div>
<div class="col-md-6 col-sm-12 pdleft34">
<div class="topinfoHeading"><h3 style="">{{p.topinfoHeading_r_main}}</h3><p>{{p.sectopinfoHeading_r_sub}}</p></div>
<div class="shadowBoxInner">
<h4>{{p.sectopinfoHeading_r_topic}}</h4>
<ul>
<li style="background:url('{{p.r1_image.url}}')">{{p.topinfoHeading_r1}}</li>
<li style="background:url('{{p.r2_image.url}}')">{{p.topinfoHeading_r2}}</li>
<li style="background:url('{{p.r3_image.url}}')">{{p.topinfoHeading_r3}}</li>
<li style="background:url('{{p.r4_image.url}}')">{{p.topinfoHeading_r4}}</li>
    </ul>
</div>
</div>


</div>
</div>
</div>

<div class="businessModel2">
<div class="container">
<h2>{{p.businessModel2_main}}</h2>
<ul class="fiftyBullet">
<li>{{p.businessModel2_point1}}</li>
<li>{{p.businessModel2_point2}}</li>
</ul>
<div class="row">
<div class="col-md-6 col-sm-12 pdright34E">
<div class="innerImg">
<img src="{{p.point1_image.url}}" />
</div>
</div>
<div class="col-md-6 col-sm-12 pdleft34E">
<div class="innerImgInfo">
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-6"><div class="normalShadow"><img src="{{p.point2_image1.url}}" /></div></div>
<div class="col-md-4 col-sm-4 col-xs-6"><div class="normalShadow"><img src="{{p.point2_image2.url}}" /></div></div>
<div class="col-md-4 col-sm-4 col-xs-6"><div class="normalShadow"><img src="{{p.point2_image3.url}}" /></div></div>
<div class="col-md-4 col-sm-4 col-xs-6"><div class="normalShadow"><img src="{{p.point2_image4.url}}" /></div></div>
<div class="col-md-4 col-sm-4 col-xs-6"><div class="normalShadow"><img src="{{p.point2_image5.url}}" /></div></div>
<div class="col-md-4 col-sm-4 col-xs-6"><div class="normalShadow"><img src="{{p.point2_image6.url}}" /></div></div>

</div>
</div>
</div>


</div>

<div class="topSpace56">
<div class="row">
<div class="col-md-9 col-sm-8">
<h2>{{p.topSpace_heading}}</h2>
<p>{{p.topSpace_text}}</p>
</div>
<div class="col-md-3 col-sm-4 rightbtnww">
<a href="" class="link">Register Now</a>
</div>
</div>
</div>

</div>
</div>

{% endblock %}

