{% extends 'base.html' %}
       {% load static %}

      {% block pageheading %}

<div class="padding12LR">
<h1>Traffic Filtering For Your Needs</h1>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>doloremque laudantium, totam rem aperiam.</p>
<a href="" class="link">Get An Account</a>
</div>
{% endblock %}



{% block content %}
<section class="copy-sec">
    <div class="container">
        <div class="sEPcontainer noBorder">
            <div class="pWidthfix">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            </div>
           <div class="two-col-copy-sec">
            <h2 class="text-center">Consectetur<span> Adipiscing elit</span> </h2>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
            </ul>
           </div>
            
            
            </div>
    </div>
</section>
<section class="copy-img-sec">
    <div class="container">
        <div class="row copy-img-row">
            <div class="col-md-6 col-sm-6 col-xs-12 img-col">
<img src="./images/dummy-img.png" alt="image">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="text-col">
                    <h3>Sed ut perspiciatis unde<br>
                        omnis iste natus</h3>
                        <div class="progress-row">
                            <div class="progress-icon">
                                <div class="radial-01 radial-three-quarters">
                                    <span class="radial-01-number">
                                      75<span class="radial-01-syb"><sub>%</sub></span>
                                    </span>
                                    <span class="radial-01-border-r"></span>
                                    <span class="radial-01-border-l"></span>
                                    
                                  </div>
                            </div>
                           
                              <div class="progress-text">
                                <h4>Sed ut perspiciatis unde</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt.</p>
                              </div>
                        </div>
                        <div class="progress-row">
                            <div class="progress-icon">
                                <div class="radial-01 radial-fifty">
                                    <span class="radial-01-number">
                                      50<span class="radial-01-syb"><sub>%</sub></span>
                                    </span>
                                    <span class="radial-01-border-r"></span>
                                    <span class="radial-01-border-l"></span>
                                    
                                  </div>
                            </div>
                           
                              <div class="progress-text">
                                <h4>Sed ut perspiciatis unde</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt.</p>
                                    
                              </div>
                        </div>
                </div>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                

            </div>
           
        </div>
    </div>

</section>
<section class="traffic-tab-sec">
    <div class="container">
    <div class="row tab-row">
        <div class=" col-md-6 col-sm-6 col-xs-12 verticallyMainChild">
      <div class="tab-list">
        <h2>Consectetur adipiscing elit,<br>
            sed do eiusmod tempor </h2>
      <div class="tabs">
        <ul id="tabs-nav">
       <li class=""><div class=""><a href="#tab1">Sed ut perspiciatis unde omnis iste natus</a></div></li>
       <li class=""><div class=""><a href="#tab2">Sed ut perspiciatis</a></div></li>
       <li class=""><div class=""><a href="#tab3">Sed ut perspiciatis unde omnis iste natus</a></div></li>
      
       
       <li><div class=""><a href="#tab4"> Ynde omnis iste natus</a></div> </li>
      </ul></div>
      
      
       <!-- END tabs-content -->
      </div> <!-- END tabs -->
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 verticallyMainChild">
      <div id="tabs-content">
      <div id="tab1" class="tab-content" style="display: none;">
      <div ><img src="./images/dummy-img.png" alt="tab-image"></div>    
      </div>
      <div id="tab2" class="tab-content" style="display: none;">
      <div ><img src="./images/dummy-img.png" alt="tab-image"></div>    
      </div>
      <div id="tab3" class="tab-content" style="display: none;">
      <div ><img src="./images/dummy-img.png" alt="tab-image"></div>    
      </div>
      <div id="tab4" class="tab-content" style="display: block;">
      <div class=""><img src="./images/dummy-img.png" alt="tab-image"></div>    
      </div>
     
     
      </div>
      
      </div>
      </div>
    </div>
</section>
<div class="businessModel2 mt0">
    <div class="container">
    
    <div class="topSpace56 mt0">
    <div class="row">
    <div class="col-md-9 col-sm-8">
    <h2>Lorem ipsum dolor <span>adipiscing elit</span> sed do eiusmod tempor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="col-md-3 col-sm-4 rightbtnww">
    <a href="" class="link">Register Now</a>
    </div>
    </div>
    </div>
    
    </div>
    </div>
  {% endblock %}