{% extends 'base.html' %}
       {% load static %}

      {% block pageheading %}

<div class="padding12LR">
<h1>{{i.traffic_text}}</h1>
<p>{{i.traffic_paragraph}}</p>
<a href="{{i.traffic_button_url}}" class="link">{{i.traffic_button_text}}</a>
</div>
{% endblock %}



{% block content %}
<section class="copy-sec">
    <div class="container">
        <div class="sEPcontainer noBorder">
            <div class="pWidthfix">
            <p>{{i.firstinfo_paragraph}}</p>
            </div>
           <div class="two-col-copy-sec">
            <h2 class="text-center">{{i.secinfo_Heading }}</h2>
            <ul>
                <li>{{i.secinfo_point1}}</li>
                <li>{{i.secinfo_point2}}</li>
            </ul>
           </div>
            
            
            </div>
    </div>
</section>
<section class="copy-img-sec">
    <div class="container">
        <div class="row copy-img-row">
            <div class="col-md-6 col-sm-6 col-xs-12 img-col">
<img src="{{i.thirdinfo_image.url}}" alt="image">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="text-col">
                    <h3>{{i.progress_main}}</h3>
                        <div class="progress-row">
                            <div class="progress-icon">
                                <div class="radial-01 radial-three-quarters">
                                    <span class="radial-01-number">
                                     {{i.progress1_percentage}}<span class="radial-01-syb"><sub>%</sub></span>
                                    </span>
                                    <span class="radial-01-border-r"></span>
                                    <span class="radial-01-border-l"></span>
                                    
                                  </div>
                            </div>
                           
                              <div class="progress-text">
                                <h4>{{i.progress1_heading}}</h4>
                                <p>{{i.progress1_text}}</p>
                              </div>
                        </div>
                        <div class="progress-row">
                            <div class="progress-icon">
                                <div class="radial-01 radial-fifty">
                                    <span class="radial-01-number">
                                      {{i.progress2_percentage}}<span class="radial-01-syb"><sub>%</sub></span>
                                    </span>
                                    <span class="radial-01-border-r"></span>
                                    <span class="radial-01-border-l"></span>
                                    
                                  </div>
                            </div>
                           
                              <div class="progress-text">
                                <h4>{{i.progress2_heading}}</h4>
                                <p>{{i.progress2_text}}</p>
                                    
                              </div>
                        </div>
                </div>
                <p class="text-center">{{i.progress_footer}}</p>
                

            </div>
           
        </div>
    </div>

</section>
<section class="traffic-tab-sec">
    <div class="container">
    <div class="row tab-row">
        <div class=" col-md-6 col-sm-6 col-xs-12 verticallyMainChild">
      <div class="tab-list">
        <h2>{{i.tab_heading}}</h2>
      <div class="tabs">
        <ul id="tabs-nav">
       <li class=""><div class=""><a href="#tab1">{{i.tab1}}</a></div></li>
       <li class=""><div class=""><a href="#tab2">{{i.tab2}}</a></div></li>
       <li class=""><div class=""><a href="#tab3">{{i.tab3}}</a></div></li>
      
       
       <li><div class=""><a href="#tab4"> {{i.tab4}}</a></div> </li>
      </ul></div>
      
      
       <!-- END tabs-content -->
      </div> <!-- END tabs -->
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 verticallyMainChild">
      <div id="tabs-content">
      <div id="tab1" class="tab-content" style="display: none;">
      <div ><img src="{{i.tab1_image.url}}" alt="tab-image"></div>
      </div>
      <div id="tab2" class="tab-content" style="display: none;">
      <div ><img src="{{i.tab2_image.url}}" alt="tab-image"></div>
      </div>
      <div id="tab3" class="tab-content" style="display: none;">
      <div ><img src="{{i.tab3_image.url}}" alt="tab-image"></div>
      </div>
      <div id="tab4" class="tab-content" style="display: block;">
      <div class=""><img src="{{i.tab4_image.url}}" alt="tab-image"></div>
      </div>
     
     
      </div>
      
      </div>
      </div>
    </div>
</section>
<div class="businessModel2 mt0">
    <div class="container">
    
    <div class="topSpace56 mt0">
    <div class="row">
    <div class="col-md-9 col-sm-8">
    <h2>{{i.register_heading}}</h2>
    <p>{{i.register_paragraph}}</p>
    </div>
    <div class="col-md-3 col-sm-4 rightbtnww">
    <a href="{{i.register_button_url}}" class="link">{{i.register_button_text}}</a>
    </div>
    </div>
    </div>
    
    </div>
    </div>
  {% endblock %}
