/* variables */
:root {
    --black: #000000;
    --white: #ffffff;
    --primary_color:#0d78b8;
    --secondary_color:#000;
    --bodybg: #e8f3fd;
    --green:#749993;
   
  }
  /* fonts */
  @font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Medium.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Medium.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-Medium.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-Medium.svg#NeueMontreal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Italic.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-Italic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Italic.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-Italic.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-Italic.svg#NeueMontreal-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-BoldItalic.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-BoldItalic.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-BoldItalic.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-BoldItalic.svg#NeueMontreal-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Light.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-Light.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Light.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-Light.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-Light.svg#NeueMontreal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Bold.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-Bold.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Bold.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-Bold.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-Bold.svg#NeueMontreal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-LightItalic.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-LightItalic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-LightItalic.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-LightItalic.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-LightItalic.svg#NeueMontreal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-MediumItalic.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-MediumItalic.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-MediumItalic.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-MediumItalic.svg#NeueMontreal-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Regular.eot');
    src: url('../fonts/neue-montreal/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neue-montreal/NeueMontreal-Regular.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Regular.woff') format('woff'),
        url('../fonts/neue-montreal/NeueMontreal-Regular.ttf') format('truetype'),
        url('../fonts/neue-montreal/NeueMontreal-Regular.svg#NeueMontreal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* sourceSansPro */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-BlackItalic.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-BlackItalic.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-Black.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-Black.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-BoldItalic.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-BoldItalic.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-ExtraLight.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-Bold.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-Light.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-Light.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-Light.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-LightItalic.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-LightItalic.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-Italic.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-Italic.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-Italic.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-Italic.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-SemiBold.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBold.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourceSansPro/SourceSansPro-Regular.eot');
    src: url('../fonts/sourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/sourceSansPro/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
        url('../fonts/sourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




  /***********/
body {font-family: 'Source Sans Pro', sans-serif;margin: 0;padding: 0;font-size: 18px;
  color: var(--secondary_color);background-color: var(--bodybg);font-weight: 400;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.container{max-width: 1240px;padding:0px 15px;margin: 0 auto;}
a {text-decoration: none;color: var(--secondary_color);display: inline-block;font-family: 'Neue Montreal', sans-serif;font-weight: 500;}
input{border-radius: 5px;border: none;background-color: var(--white);padding: 21px 15px;position: relative;color: var(--green);}
input:focus-visible{outline: none;}
::placeholder{color: var(--green);}

ul{list-style-type: none;padding-left: 0;margin: 0;}
h1,h2,h3,h4,h5,h6,p {margin: 0;font-family: 'Neue Montreal', sans-serif;font-weight: 500;color: var(--secondary_color);}
h1{font-size: 54px;line-height:3.56rem;}
h2{font-size: 46px;text-transform: capitalize;margin-bottom: 22px;}
h3{font-size: 42px;}
h5{font-size: 20px;}
h6{font-size: 16px;font-weight: 700;}
p{line-height: 1.875rem;}
/* buttons */
.primary-btn{background-color: var(--primary_color); border-radius: 5px;text-transform: capitalize;padding: 13px 26px;border: 1px solid transparent;transition: 0.7s;display: flex;align-items: center;font-size: 17px;color: var(--white);justify-content: space-between;}
.primary-btn svg,.secondary-btn svg{width: 17px;height: 20px;margin-left: 18px;}
.primary-btn svg path ,.secondary-btn svg path{fill: white;stroke: white;transition: 0.7s;}
.primary-btn:hover{background-color: var(--white);color: var(--primary_color);border: 1px solid var(--primary_color);}
.primary-btn:hover svg path{fill: var(--primary_color);stroke: var(--primary_color);}

.secondary-btn{background-color: var(--secondary_color);border: 1px solid transparent;color: var(--white);text-transform: capitalize;font-size: 15px;padding: 14px 16px;border-radius: 5px;display: flex;align-items: center;transition: 0.7s;}
.secondary-btn:hover{border-color: var(--black);color: var(--black);background-color: transparent;}
.secondary-btn:hover svg path {stroke: black;}
input[type="submit"]{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3' /%3E%3C/svg%3E");background-repeat: no-repeat;background-size: 20px;background-position: 89%;min-width: 150px;cursor: pointer;font-size: 17px;}
 input[type="submit"]:hover{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ff0754' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3' /%3E%3C/svg%3E%0A");}
 select:focus-visible {outline: none;}

 /* custom classes */
 .text-center{text-align: center;}
 .text-primary{color: var(--primary_color);}


/* ****************header section**************** */
header{position: absolute;width: 100%;}
header .header-bottom-wrapper {padding: 19px 0px;}
header .header-logo a {font-size: 31px;text-transform: capitalize;
font-weight: bold;display: flex;align-items: center;}
header .header-logo a img{margin-right: 8px;}

header .social-icons a {padding-left: 16px;}
header select {margin: 0px 25px;padding: 8px 12px;border-radius: 4px;background-color: transparent;
 border: 1px solid var(--white);min-width: 130px;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");background-repeat: no-repeat;appearance: none;background-size: 17px;background-position: 93%;color: white;font-size: 14px;cursor: pointer;}

header .header-bottom-row {display: flex;align-items: center;justify-content: space-between;}
.select-box {position: relative;}
.select-box:after {content: '';position: absolute;border-left: 1px solid white;width: 1px;height: 85%;top: 3px;left: 0;}
.select-box:before {content: '';position: absolute;border-right: 1px solid white;
width: 1px;height: 85%;top: 3px;right: 0;}
header .header-nav-links ul {display: flex;}
header .header-nav-links ul li{margin:0px 13px;}
header .header-nav-links ul li a{text-transform: capitalize;font-size: 16px;transition: 0.6s;}
header .header-nav-links ul li a:hover{color: var(--primary_color);}
header .dropdown {float: left;overflow: hidden;}
header .dropdown-content {display: none;position: absolute;background-color: #f9f9f9;
min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
header .dropdown-content a {float: none;color: black;padding: 12px 16px;text-decoration: none;
display: block;text-align: left;}
header .dropdown a{display: flex;align-items: flex-end;}
header .dropdown:hover .dropdown-content {display: block;}
header .dropdown svg { width: 18px;height: 17px;margin-left: 7px;transition: 0.5s;}
 header .dropdown:hover svg{transform: rotate(180deg);}
header .header-nav-links ul li .dropdown-content a:hover{text-decoration: none;}
header .social-icons i{color: var(--white);font-size: 16px;transition: 0.7s;}
.social-icons i:hover{transform: translateY(-4px);color: var(--black);}
header a.icon,.mobile-btn {display: none;}
header select option {background-color: #99a1b4;}
.mobile-show{display: none;}

/* **************banner sec************** */
.banner-sec{background-image: url(../images/top-banner-bg.png);background-repeat: no-repeat;padding: 160px 0px 70px;}
.banner-sec .inner-wrapper{display: flex;flex-wrap: wrap;align-items: center;}
.banner-sec .text-col,.banner-sec .img-col{width: 50%;}
.banner-sec .text-col a.primary-btn {max-width: 315px;width: 100%;}
.banner-sec .text-col p {padding: 15px 0px 30px;}

/* **************slider sec************** */
.slider-sec{padding: 50px 0px;}
.slider-sec .slider-box {background-color: var(--white); box-shadow: 8px 10px 0px 0px rgb(197 225 252);border-radius: 10px;position: relative;padding: 50px 100px 50px 110px;max-width: 747px;margin: 0 auto;}
.slider-sec .slider-img{position: absolute;left: -66px;top: 50%;transform: translateY(-50%);}
.slider-sec .slider-img img{width: auto;height: 150px;}
.slider-sec .slider-box h6 {margin-top: 45px;}
.slider-sec .slider-box p i{font-size: 20px;}
.slider-sec .slider-box p{font-size: 16px;}
.slider-sec .sldier-wrapper {padding: 60px 0px 0px;}
.slick-next:before, .slick-prev:before {color: var(--secondary_color);}

/* advertiser-sec */
.advertiser-sec .flex-row{display: flex;justify-content: space-between;}
.advertiser-sec .advertiser-flex-row{display: flex;flex-wrap: wrap;margin-top: 60px;}
.advertiser-sec .advertiser-flex-row .advertiser-col {width: 25%;padding: 40px 20px;text-align: center;transition: 0.6s;}
.advertiser-sec .advertiser-flex-row .advertiser-col:hover{background-color: var(--white); border-radius: 10px; box-shadow: 8px 10px 0px 0px rgb(197 225 252);}
.advertiser-col img{margin-bottom: 25px;}
.advertiser-col p{font-size: 17px;margin-top: 20px;}

/* contact sec */
.contact-sec .contact-row {display: flex;align-items: center;justify-content: space-between;margin-top: 60px;}
.contact-row .contact-left,.contact-row .contact-right {width: 50%;}
.contact-box {display: flex;align-items: center;margin-bottom: 30px;}
.contact-box h2 {margin: 0 33px 0px 0px;}
.contact-box h2 a{text-decoration: underline;}
.contact-row .contact-left .flex-row{display: flex;}
.contact-row .contact-left .flex-row img {margin-right: 16px;width: auto;height: 24px;}
.contact-row .contact-left .flex-row:last-child{margin-top: 25px;}
.contact-row .contact-left .flex-row:last-child img{margin-left: -16px;}
.contact-row .contact-right h3{font-weight: 400;}
.contact-row .contact-right .subscribe-box{display: flex; align-items: center;margin-top: 20px;}
.contact-row .contact-right .subscribe-box input {max-width: 350px; width: 100%;}
.contact-row .contact-right .subscribe-box a.primary-btn {margin-left: -3px;z-index: 9;padding: 18px 38px;}

/* footer sec */
.footer-sec{background-image: url(../images/footer-bg2.png);background-repeat: no-repeat;}
.footer-sec .inner-wrapper{display: flex;align-items: center;padding: 110px 0px 60px;}
.footer-sec .footer-links{display: flex;margin-top: 45px;}
.footer-bottom-row { display: flex;align-items: center;justify-content: space-between;padding: 30px 0px 65px;border-top: 1px solid #d5d1d1;}
.footer-sec .footer-left-col {width: 60%;}
.footer-sec .icon-row i {background-color: black;color: white;border-radius: 50%;
font-size: 14px;width: 25px;height: 25px;padding: 5px;text-align: center;margin: 0px 9px;transition: 0.6s;}
.footer-sec .icon-row i:hover {background-color: var(--primary_color);}
.footer-sec .footer-links a {text-transform: capitalize;transition: 0.6s;}
.footer-sec .footer-links a:hover{color: var(--primary_color);}
.footer-sec .footer-links li {margin-bottom:17px;}
.footer-sec .footer-links ul:last-child {padding-left: 100px;}
.footer-right-col a.primary-btn {max-width: 209px;padding: 16px 26px;margin-top: 15px;}
.footer-sec .footer-right-col {padding-top: 30px;}

